*{
  padding: 0;
  margin: 0;
}

:root{
   font-family: "Alice", serif;
   font-size: 30px;
   line-height: 200%
   color: #573a37;
}

body{
  background-image: url(assets/bolo\ caramelizado.png);
  background-size: cover;
}

#page{
box-sizing: border-box;
width: 800px;
padding: 24px;
background-color:#f0e8c2;
border-radius: 24px;
margin: 48px auto 28px;
}

img{
  width: 750px;
  border-radius: 16px;
}

main{
  padding: 24px;
}

section + section{
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1{
  line-height: 140%;
  font-size: 40px;
}

h2{
  font-size: 24px;
}

h1, h2{
color: #291b1a;
margin-bottom: 4px;
line-height: 50px;
}

ul{
  padding-left: 24px;
}

footer{
  color: #c8e5e5;
  text-align: center;
  padding-bottom: 48px;
}
footer img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}